* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*header*/
header {
    background-color: rgb(51, 50, 50);
    float: left;
    height: 1000px;
    width: 150px;
    float: left;
}

/*header end*/

/*main*/
.main {
    height: 1000px;
    background-image: url("../images/main.jpg");
    background-position: center;
    background-size: cover;
    opacity: 0.5;
    float: left;
}

/*main end*/