* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
}

/*header*/
header {
    background-color:rgb(41, 41, 41);
    height: 1500px;
    width: 55px;
    text-align: center;
    
}

header a {
    text-decoration: none;
    color: white;
}

nav {
    padding: 5px 0 0 0;
    position: sticky;
    top: 0;
}

/*header end*/

/*main*/
.main {
    height: 1500px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-color:rgb(48, 46, 46);
}

#profile-image {
    background-image: url("../images/ethan.PNG");
    height:225px;
    width: 225px;
    background-repeat: no-repeat;
    position: absolute;
    margin: 40px;
    border-radius: 50%;
}

.info {
    margin: 300px 100px 0;
    text-align: center;
    color: rgb(245, 248, 245);
}

/*projects start*/
.work h2 {
   text-align: center;
   color: white;
}

.contact-me {
    margin: 180px;
    text-align: center;
    background-color: white;
}

.projects {
    justify-content: center;
    margin: 10px;
}

.project-img {
    background-color:rgb(41, 41, 41);
    padding: 100px 5px 130px 5px;
    border-radius: 5px 0 0 5px;
    width: 310px;
    height: 200px;
    text-align: center;

}

.project-info {
    background-color:white;
    padding: 0 250px;
    border-radius: 0 5px 5px 0;
}

#img-1 {
    background-image: url(../images/trackey.jpg);
}

#img-2 {
    background-image: url(../images/zookeeper.jpg)
}

#img-3 {
    background-image: url(../images/u-vote.jpg)
}

#img-4 {
    background-image: url(../images/run-buddy.jpg)
}

/*projects end*/

/*main end*/

#hello {
    font-family: 'Noto Sans HK', sans-serif;
    color: white;
    font-size: 90px;
}

#Ethan {
    font-family: 'Noto Sans HK', sans-serif;
    color: white;
    font-size: 20px;
}

#code {
    color: white;
}

#developer {
    color: white;
}