* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
}

/*header*/
header {
    background-color: rgb(41, 41, 41);
    text-align: center;
}

header a {
    color: white;
}

nav {
    padding: 5px 0 0 0;
    width: 58px;
}

.tab {
    margin: 10px 0 0 0;
}

/*header end*/

/*main*/
.main {
    background-position: center;
    background-size: cover;
    background-color: rgb(48, 46, 46);
}

/*home*/
#home {
    margin: 50px 0 60px 70px;
}

#hello {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 70px;
}

#Ethan {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 23px;
}

#code {
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 10px 0 0 0;
    font-size: 14px;
}

#developer {
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 10px 0 0 0;
    font-size: 25px;
}

/*home end*/

/*about me*/
.info {
    text-align: center;
    color: rgb(245, 248, 245);
    font-family: 'Poppins', sans-serif;
}

.info h2 {
    margin: 60px 0 10px 0;
    font-size: 30px;

}

.info p {
    margin: 0 250px 25px 250px;
    font-size: 15px;
}

#profile-image {
    background-image: url("../images/ethan4.jpg");
    background-position: 0% 0%;
    height: 600px;
    width: 450px;
    background-repeat: no-repeat;
    margin: auto;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
}

.icon {
    font-size: 65px;
    color: white;
    text-align: center;
}

/*about me end*/

/*projects*/
.work {
    background-color: rgb(54, 53, 53);
    height: auto;
    padding: 0 0 30px 0;
}

.work h2 {
    text-align: center;
    color: white;
    padding: 30px 0 15px 0;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}


.projects {
    background-color: rgb(54, 53, 53);
    justify-content: center;
    margin: 7px 0 0 0;
}

.project-info {
    background-color: rgb(41, 41, 41);
    border-radius: 5px 0 0 5px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 14px;
    width: 300px;
    padding: 5px 0 0 0;
    height: 240px;
}

.project-info div a {
    text-decoration: none;
}

.tech-skills {
    margin: 0 0 0 30px;
    text-align: left;
}

.work-link {
    font-size: 35px;
}

.link {
    color: white;
}

#trackey {
    margin: 50px 0 0 0;
}


#zookeeper {
    margin: 30px 0 0 0;
}

#run-buddy {
    margin: 95px 0 0 0;
}

#u-vote {
    margin: 10px 0 0 0;
}

#img-1 {
    background-image: url(../images/trackey.jpg);
    width: 500px;
    border-radius: 0 5px 5px 0;
}

#img-2 {
    background-image: url(../images/zookeeper.jpg);
    width: 500px;
    border-radius: 0 5px 5px 0;
}

#img-3 {
    background-image: url(../images/u-vote.jpg);
    width: 500px;
    border-radius: 0 5px 5px 0;
}

#img-4 {
    background-image: url(../images/run-buddy.jpg);
    width: 500px;
    border-radius: 0 5px 5px 0;
}

/*projects end*/

/*contact-me*/
.contact-me {
    text-align: center;
    background-color: rgb(48, 46, 46);
    color: white;
}

#contact {
    font-family: 'Poppins', sans-serif;
    font-size:20px;
}

#contact-link {
    padding: 2px 0 5px 0;
}

/*contact-me end*/

/*main end*/